@font-face {
  font-family: "Uzicute";
  src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background: #000; */
}
html,
body {
  height: 100%;
  width: 100%;
}
.hover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
  z-index: -1;
  aspect-ratio: 0.9;
  transform-origin: center;
  object-fit: cover;
  pointer-events: none;
  color: white;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  height: 100vh;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  overflow: hidden;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem; /* Equal to p-4 (padding: 16px in Bootstrap) */
  border-top: 1px solid #878585;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover Effect for the Image */

.border-bottom {
  border-bottom: 1px solid #878585;
}
h2 {
  font-size: xx-large;
  font-family: "Uzicute";
  font-family: Uzicute, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
